* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  min-height: 100vh;
  background: linear-gradient(100deg, #0f1829, #050812);
}

.big-container {
  width: 100%;
  height: 100v;
  max-width: 1200px;
  position: absolute;
  top: -65%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
  -webkit-animation: fade 3s ease-in-out forwards;
          animation: fade 3s ease-in-out forwards;
  opacity: 0;
}

@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

a {
  text-decoration: none;
  color: white;
}

a :hover {
  color: turquoise;
}

a:hover {
  color: turquoise;
}

header {
  min-height: 60px;
  width: 100%;
  border-bottom: 1px solid #fff8;
  overflow: hidden;
}

header .logo {
  float: left;
  margin: 20px;
}

header .logo h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  text-shadow: 0 0 5px white;
}

header nav {
  float: right;
  margin-right: 20px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul {
  margin-right: 30px;
  min-width: 450px;
}

header nav ul li {
  list-style: none;
  display: inline-block;
}

header nav ul li a {
  padding: 8px 15px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 5px white;
}

header nav form {
  height: 30px;
  min-width: 300px;
  margin: 10px 0;
}

header nav form input {
  height: 100%;
  width: 250px;
  border: 1px solid teal;
  background: #0007;
  padding: 0 5px;
  color: white;
  outline: none;
}

header nav form button {
  width: 50px;
  height: 100%;
  border: 1px solid teal;
  background: #0007;
  color: white;
  cursor: pointer;
}

.active {
  background: teal;
  border-radius: 20px;
}

section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-shadow: 0 0 5px white;
}

section h2 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 10px;
}

section p {
  line-height: 1.4;
  margin: 15px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

footer {
  width: 100%;
  text-align: center;
}

footer h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
}

footer p {
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.4;
  letter-spacing: 2px;
}
/*# sourceMappingURL=main.css.map */